    <nav class="navbar navbar-expand-lg navbar-dark fano-nav" id="menu">
      <div class="fano-nav__inner">
        <a class="navbar-brand fano-nav__brand" href="{{ site.baseurl }}/">
          <img src="{{ site.baseurl }}/static/favicon.jpg" alt="{{ site.title }}" />
          <strong>{{ site.title }}</strong>
        </a>

        <button class="navbar-toggler fano-nav__toggle" type="button" data-bs-toggle="collapse" data-bs-target="#navb" aria-controls="navb" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navb">
          <ul class="navbar-nav mx-auto fano-nav__links">
            {%- assign pages_list = site.pages | sort: 'order' -%}
            {%- for node in pages_list -%}
              {%- if node.title != null and node.category == "links" -%}
            <li class="nav-item">
              <a class="nav-link{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
            </li>
              {%- endif -%}
            {%- endfor %}
          </ul>
        </div>
      </div>
    </nav>
